@using TeamPlanner.ViewModels
@model AdminCreateViewModel

<div class="card mt-5">
    <div class="card-header">
        <h4 class="text-white-50 fw-bold mt-2">Schedule a new time</h4>
    </div>
    <div class="card-body">
        <form asp-action="CreateTime" method="post" enctype="multipart/form-data">
            <div class="input-group my-4">
                <span class="input-group-text">@@</span>
                <input class="form-control" placeholder="Username" asp-for="Username" />
            </div>
            <div>
                <label asp-for="GroupId" class="form-label"></label>
                <select asp-for="GroupId" class="form-select bg-dark text-white-50">
                    @foreach (var group in Model.Groups)
                    {
                        <option value="@group.Id">
                            @group.Name
                        </option>
                    }
                </select>
            </div>
            <div>
                <label asp-for="Start" class="form-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="End" class="form-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Week" class="form-label"></label>
                <input asp-for="Week" type="number" class="form-control" />
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Weekday" class="form-label"></label>
                <select asp-for="Weekday" class="form-select bg-dark text-white-50">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
                <span asp-validation-for="Weekday" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-2">Submit</button>
        </form>
    </div>
</div>