@using TeamPlanner.ViewModels
@model AdminCreateViewModel

<form asp-action="CreateTime" method="post" enctype="multipart/form-data">
    <h1>Create new Time</h1>
    <input asp-for="Username" />
    <div>
        <label asp-for="GroupId" class="form-label"></label>
        <select asp-for="GroupId" class="form-select">
            @foreach(var group in Model.Groups)
            {
                <option value="@group.Id">
                    @group.Name
                </option>
            }
        </select>
    </div>
    <div>
        <label asp-for="Start" class="form-label"></label>
        <input asp-for="Start" class="form-control" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="End" class="form-label"></label>
        <input asp-for="End" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Week" class="form-label"></label>
        <input asp-for="Week" class="form-control" />
        <span asp-validation-for="Week" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Weekday" class="form-label"></label>
        <input asp-for="Weekday" class="form-control" />
        <span asp-validation-for="Weekday" class="text-danger"></span>
    </div>

    <button type="submit">Submit</button>
</form>